.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  position: relative;
}

.user_header {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

#for_user_header {
  padding: 0px 0px 10px 0px;
}

.user_icon_and_name {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 75%;
  left: 15%;
}

.user_icon {
  width: 150px;
  height: 150px;
}